ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
}

li:nth-child(2n) {
  margin-left: 20px;
  margin-right: 0;
}

.newsImage {
  max-width: 400px;
  max-height: 280px;
  margin-right: 20px;
  overflow: hidden;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: auto;
}

a {
  color: #25A18E;
}

