ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
}

li:nth-child(2n) {
  margin-left: 20px;
  margin-right: 0;
}

img {
  width: 100%;
  max-width: 200px;
  margin-right: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

