.textField {
  background-color: white;
}

.button {
  background-color: #00a5cf !important;
  text-transform: none !important;
  font-size: 1.1rem !important;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
