.largeWrapper {
    max-width: 1300px;
    margin: auto;
}


.smallWrapper {
    max-width: 500px;
    margin: auto;

}

.countryName {
    text-transform: capitalize;
}

.map-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

h2,
h3 {
    color: #25A18E
}