.largeWrapper {
    max-width: 1300px;
    margin: auto;
}


.smallWrapper {
    max-width: 500px;
    margin: auto;

}

.countryName {
    text-transform: capitalize;
}


.map-container, .countryInfo {
.countryInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.countryInfo {
 width: 70%;
}

.news-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2;
    justify-content: center;
    flex-wrap: wrap;
    
}

h2,
h3 {
    color: #25A18E
}