.header {
    background-image: url(./global-search-header_3_1.jpg);
    height: 400px;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
} 

.headerWrapper {
    background-color: #9FFFCB;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px 10;
}

.headerIcon {
    color: white;
    background-color: #9FFFCB;
    border-radius: 30px;
    padding: 2px;
}

.iconWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    padding-left: 7px;
    background-image: linear-gradient(to right, rgba(37, 161, 142, 1), rgba(37, 161, 142, 0)) ;
    border-radius: 5px 0px 0px 5px;
}

input {
    max-width: 80%;
    margin: auto;
}