.header {
    background-image: url(./global-search-header_3_1.jpg);
    height: 600px;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}   

.headerWrapper {
    background-color: #9FFFCB;
    width: 50%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding: 2rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    padding: 20px 40px 10;
}    

.headerIcon {
    color: white;
    background-color: #25A18E;
    border-radius: 30px;
    padding: 2px;
}

.titleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    padding-left: 7px;
    background-image: linear-gradient(to right, #004E64, #00A5CF) ;
}

input {
    max-width: 80%;
    margin: auto;
}