.header {
    background-image: url(./global-search-header_3_1.jpg);
    height: 300px;
    padding: 50px;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.headerWrapper {
    background-color: #9FFFCB;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.headerIcon {
    color: #9FFFCB;
}

input {
    max-width: 80%;
    margin: auto;
}