footer {
    background-color: #004E64;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* a tag styling */

a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  footer>p {
    color: white;
  }