footer {
    background-color: #004E64;
    width: 100%;
    margin-top: 50px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* a tag styling */

a {
    color: #9FFFCB;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  footer>p {
    color: #9FFFCB;
  }

  